<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[Vitrin.*]*</Include>
          <Exclude>[*.Tests]*</Exclude>
          <ExcludeByFile>**/Migrations/*.cs,**/*.Designer.cs,**/obj/**/*.cs</ExcludeByFile>
          <SingleHit>true</SingleHit>
          <UseSourceLink>false</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
